[submodule "3rdparty/RapidFuzz"]
	path = 3rdparty/RapidFuzz
	url = https://github.com/rapidfuzz/rapidfuzz-cpp.git
[submodule "3rdparty/ExprTk"]
	path = 3rdparty/ExprTk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "plugins/CalcExprtk/exprtk"]
	path = plugins/CalcExprtk/exprtk
	url = https://github.com/ArashPartow/exprtk
[submodule "3rdparty/cpp-pinyin"]
	path = 3rdparty/cpp-pinyin
	url = https://github.com/wolfgitpr/cpp-pinyin
[submodule "3rdparty/sqlite-amalgamation"]
	path = 3rdparty/sqlite-amalgamation
	url = https://github.com/azadkuh/sqlite-amalgamation.git
[submodule "3rdparty/pugixml"]
	path = 3rdparty/pugixml
	url = https://github.com/zeux/pugixml
[submodule "3rdparty/WinToast"]
	path = 3rdparty/WinToast
	url = https://github.com/mohabouje/WinToast
[submodule "3rdparty/github-releases-autoupdater"]
	path = 3rdparty/github-releases-autoupdater
	url = https://github.com/CandyTek/github-releases-autoupdater
